@model ExpirenceIT_MidTerm1.Models.Students
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Model.Id</p>
<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.CourseStatus</p>
<p>@Model.CourseEnrolledDate</p>
<p>@Model.CourseId</p>


